*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

#navbar{
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 3;
    background: rgb(68,209,151);
    background: linear-gradient(90deg, rgba(68,209,151,1) 0%, rgba(43,26,143,1) 29%, rgba(55,5,75,1) 100%);
    color: lavender;
    border-bottom: 2px solid black;

    
        
        list-style: none;
        justify-content: space-between;
        padding-left: 5%;
        padding-right: 10%;
    }
}
#navbar ul{
        height: 80px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
}
#navbar li{
        padding-left: 3%;
        padding-right: 3%;
        color: lavender;
}

#navbar ul p{
        font-size: 30px;
}



#page_link{
    li{
        color: black;
        display: block;
        a{
            color: lavender;
            transition: all 0.5s ease-out 0ms;
        }
        a:hover{
            color: #b2e2e4;
        }
    }
}

.container{
    margin-top: 80px;
    background: rgb(148,224,79);
    background: linear-gradient(0deg, rgba(148,224,79,0.7204131652661064) 0%, rgba(183,239,169,0.3982843137254902) 100%);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.items{
    background:beige;
    margin: 30px;
    box-shadow: 10px 10px 30px #000000;
    width: 70%;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    .Content{
        border-radius: 10px;
        box-shadow: 5px 5px 3px black;
        background: #f2f3f6;
        padding: 50px;
        border: 1px solid black;
        transition: height 0.5s ease-out 2s,width 0.5s ease-out 2s,transform 1s ease-out 0s;
        h2{
            font-size: 30px;

        }
        h3{
            font-size: 20px;
            padding-bottom: 10px;;
        }
    }

    .Content:hover{
        
        transform: rotate(360deg);
    }

    .imag{
        height: 400px;
        width: 267px;
        margin: 30px;
        border-radius: 20px;
        box-shadow: 10px 10px 8px #888888;
        img{
            height: 100%;
            width: 100%;
            border-radius: 20px;
        }
        transition: all 0.5s ease-out 0s;
    }

    .imag:hover{
        transform: scale(1.05);
        box-shadow: 10px 10px 8px #b2e2e4;
    }

    ul{
        list-style: circle;
        li{
            line-height: 20px;
        }
    }
    
}
